// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// General
body {
  font-family: "PT Serif", "PT Serif Caption", "Georgia", "Times New Roman" "Times", serif;
  font-size: 16px;
  .container {
    .left-col {
    }
    .mid-col {
      background: #E4E4E4;
      padding-top: 20px;
      article {
        color: #333;
        h1.title {
          font-weight: bold;
        }
        div.entry-content {
          // Home
          div.home {
            font-size: 18px;
            margin-left: 200px;
            margin-right: 200px;
            line-height: 26px;
            .first {
              font-size: 22px;
            }
          }
          // Talks
          div.speakerdeck {
            width: 615px;
          }
        }
      }
      div.bottom-message {
        font-size: 14px;
        font-style: italic;
        padding: 15px 0;
        @include border-shadow();
      }
    }
  }
}
